@model wqwz.Models.User

<div class="container">
    <div class="row">
        <div class="span12">
            @*这里是使用了第三方库*@
            @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))//新建一个form
            {
                @f.ControlGroup().TextBoxFor(m=>m.Email)
                @f.ControlGroup().TextBoxFor(m => m.Name)//用户名的文本框
                @f.ControlGroup().PasswordFor(m => m.Pwd)//密码
                @(f.ControlGroup().CustomControls(
                    Html.Bootstrap().RadioButtonsFromEnumFor(m=>m.Sex),//性别的选择框
                    Html.Bootstrap().SubmitButton()//提交按钮
                    )
                )
            }
        </div>
    </div>
</div>