@using wqwz.Utility
@model object
<link rel="stylesheet" type="text/css" href="/Scripts/mdd_styles.css" />
<div class="form-group@(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    @Html.TextAreaFor(m=>m)
    @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
</div>
