@using wqwz.Utility
@model object 
<div class="form-group@(Html.ValidationErrorFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    @{
        var pars = new Dictionary<string,object>();
        pars.Add("data-summernote", "");
    }
    @Html.TextAreaFor(m => m,pars)
    @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
</div>