<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
        <a href="#loginmodal" class="btn btn-default">登陆</a>
    </div>
</nav>
<style>
    body { padding-top: 70px; }
</style>
@Html.Action("_Login","User")

